<div class="container mt-5">
  <h1 class="text-center mb-4 text-info">Search Results for "<%= @query %>"</h1>

  <% if @blog_posts.any? %>
    <div class="row justify-content-center">
      <% @blog_posts.each do |post| %>
        <%= render 'post_card', post: post %>
        <%= render 'comments_modal', post: post %>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info text-center">
      No posts found matching your search criteria.
    </div>
  <% end %>
</div>